body{
    background-color: var(--color-primary);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 80px;
    margin-bottom: 50px;
    animation: logo .5s ease;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.titleForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: title 1s ease;
}
h1{
    color: var(--color-primary);
    font-size: 23px;
}
.main-section{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 30px;
    margin-bottom: 100px;
    animation: entrada-section .5s ease;
}

/* Opções de cadastro */
.options-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.option1, .option2{
    width: 100%;
    height: 50px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 500;
    animation: options .8s ease-out;
}
.option1:hover, .option2:hover{
    transition: .3s;
    background-color: var(--color-primary);
    color: white;
}
.login{
    color: var(--color-secundary);
    font-weight: 600;
    font-size: 15px;
    align-self: center;
}
.tem-conta{
    font-size: 14px;
}
.login:hover{
    transition: .2s;
    opacity: .5;
}


/* Animações */
@keyframes entrada-section {
    from{
        height: 0%;
        border-radius: 100px;
    }
    to{
        height: 300px;
        border-radius: 20px;
    }
}
@keyframes logo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes options {
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes title{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes btnLogin {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 1;
    }
}
@keyframes txt {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* Media Query */
@media (min-width: 375px) {
    main{
        padding: 0 20px;
    }
    h1{
        font-size: 25px;
    }
}
@media (min-width: 570px) {
    main{
        padding: 0 15%;
    }
    h1{
        font-size: 27px;
    }
    .login{
        color: var(--color-secundary);
        font-weight: 600;
        font-size: 18px;
        align-self: center;
    }
    .tem-conta{
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .logo{
        width: 100px;
    }
    main{
        padding: 0 20%;
    }
}
@media (min-width: 1024px) {
    main{
        padding: 0 25%;
    }
}
@media (min-width: 1280px) {
    main{
        padding: 0 30%;
    }
}
@media (min-width: 1440px) {
    h1{
        font-size: 30px;
    }
    main{
        padding: 0 35%;
    }
}