.body{
    background-color: var(--color-white);
}

.navbar{
    display: flex;
    width: 100%;
    height: 63px;
    border-top:0.5px solid #dbdbdb; 
    border-bottom:1px solid #dbdbdb;
}

.nav-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.search {
    width: 300px;
    height: 40px;
    align-self: center;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-bg-search);
    margin-left: 50px;
    font-size: 18px !important;
}
.search:focus{
    transition: .2s;
    box-shadow: 0 0 5px #dadada;

}
.nav-bar-icons{
    display: flex;
    gap: 30px;
}
.nav-bar-icons a{
    color: black;
}
.icons {
    font-size: 28px;
}
.nav-bar-icons a:hover {
    color: #000000;
    opacity: .7;
    transition: .2s;
    transform: scale(1.1);
}
.publi{
    padding: 6%;
    font-size: 17px;
    cursor: pointer;
}

.card{
    margin: 0 auto;
    margin-top: 20px;
}

.foto-perfil{
    border-radius: 50%;
    max-width:25px; 
    max-height:25px;
}
