body{
    background-color: var(--color-primary);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 80px;
    margin-bottom: 25px;
    animation: logo .5s ease;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--color-primary);
    font-size: 25px;
}
.main-section{
    width: 100%;
    max-height: 580px;
    border-radius: 20px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 15px;
    margin-bottom: 100px;
    animation: entrada-section .5s ease;
}
/* Form */
form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    gap: 10px;
}
.titleForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: title 1s ease;
}
form label{
    font-size: 15px;
    font-weight: 500;
    animation: inputs 1s;
}
.email, .password, .username{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    font-size: 20px;
    padding: 20px;
    animation: inputs 1s;
}
.email:focus,.password:focus,.username:focus{
    transition: .1s;
    border: 2px solid var(--color-secundary);
}
form span{
    align-self: center;
}

.btn-next{
    width: 100%;
    height: 50px;
    font-size: 17px;
    margin: 15px 0;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: none;
    animation: btnLogin 1s ease;
}
.btn-next:hover{
    transition: .5s;
    cursor: pointer;
    background-color: var(--color-secundary);
}
.login{
    color: var(--color-secundary);
    font-weight: 600;
    font-size: 15px;
    align-self: center;
    animation: txt 1s;
}
.tem-conta{
    font-size: 14px;
    animation: txt 1s;
}
.login:hover{
    transition: .2s;
    opacity: .5;
}


/* Animações */
@keyframes entrada-section {
    from{
        height: 0;
        border-radius: 100px;
    }
    to{
        height: 600px;
        border-radius: 20px;
    }
}
@keyframes logo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes inputs {
    from{
        width: 0%;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 1;
    }
}
@keyframes title{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes btnLogin {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 1;
    }
}
@keyframes txt {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* Media Query */
@media (min-width: 375px) {
    main{
        padding: 0 20px;
    }
    .login{
        font-size: 16px;
    }
    .tem-conta{
        font-size: 15px;
    }
}
@media (min-width: 570px) {
    main{
        padding: 0 50px;
    }
    .login{
        font-size: 18px;
    }
    .tem-conta{
        font-size: 17px;
    }
}
@media (min-width: 768px) {
    .logo{
        width: 100px;
    }
    h1{
        font-size: 30px;
    }
    main{
        padding: 0 20%;
    }
    form label{
        font-size: 17px;
    }
}
@media (min-width: 1024px) {
    main{
        padding: 0 25%;
    }
    form label{
        font-size: 16px;
    }
}
@media (min-width: 1280px) {
    main{
        padding: 0 30%;
    }
    form label{
        font-size: 17px;
    }
}
@media (min-width: 1440px) {
    h1{
        font-size: 30px;
    }
    main{
        padding: 0 35%;
    }
    form{
        margin-bottom: 50px;
        width: 80%;
    }
    form label{
        font-size: 18px;
    }
}